@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.navbar a{
    font-weight: 600;
    font-size: 18px;
}

.carousel-item{
    min-height: 400px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
    font-size:70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 1;
}

.services {
    padding: 80px 0;
}

.bg-car1{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(img/corte2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-car2{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(img/corte_barba.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-car3{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(img/Cabelo_barba.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-icons i{
    font-size: 40px;
}

.box-icons h3{
    font-size: 20px;
    font-weight: 800;
}

.product{
    padding: 80px 0;
}

.card img{
    width: 150px;
    height: 150px;
}

.banner{
    padding: 50px 0;
    margin-bottom:80px;
    background-color: #eae5df;
}

.banner h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
}

.banner img{
    width: 300px;
}

@media(max-width: 76px){

    .carousel-item{
        min-height: 500px;
    }

    .carousel-item img{
        height: 500px;
    }

    .carousel-caption{
        bottom: 30px;
    }

    .carousel-caption h5{
        font-size: 50px;
        margin-top: 0;
    }

    .carousel-caption p {
        width: 100%;
        font-size: 16px;
    }

    .services{
        padding: 30px 0;
    }

    .product{
        padding: 30px 0 0 0;
    }

    .banner{
        margin-bottom: 30px;
    }



}